.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h3{
    padding: 10px;
    margin: 10px;
    
}

span{
    font-style: italic;
    text-shadow: none;
    text-decoration: underline;
    font-weight: bold;
}
#Red{
    box-shadow: 0px 0px 15px #d22b2b;   
}

#Green{
    box-shadow: 0px 0px 15px #14ef00;   
}

#Blue{
    box-shadow: 0px 0px 15px #0044ef;   
}

#Purple{
    box-shadow: 0px 0px 15px #9001d2;   
}

#Yellow{
    box-shadow: 0px 0px 15px #e9e900;   
}

#Orange{
    box-shadow: 0px 0px 15px #ef7b00;   
}

#Pink{
    box-shadow: 0px 0px 15px #ef00e7;   
}

#Brown{
    box-shadow: 0px 0px 15px #8f4f00;   
}

.button-style{
    border-radius: 8px;
  border: 1px solid transparent;
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f8f5f5;
  cursor: pointer;
  transition: border-color .25s;
  margin: 10px;
}